* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v174_440 {
  width: 100%;
  height: 4419px;
  background: rgba(241,232,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v174_441 {
  width: 100%;
  height: 100%;
  background: url("../images/v174_441.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 731px;
  left: 1px;
  overflow: hidden;
}
.v174_442 {
  width: 100%;
  height: 100%;
  background: url("../images/v174_442.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2185px;
  left: 1px;
  overflow: hidden;
}
.v174_443 {
  width: 100%;
  height: 727px;
  background: rgba(241,232,246,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_444 {
  width: 12px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 955px;
  border-radius: 50%;
}
.v174_445 {
  width: 12px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 1000px;
  border-radius: 50%;
}
.v174_446 {
  width: 12px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 1045px;
  border-radius: 50%;
}
.v174_447 {
  width: 12px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 910px;
  border-radius: 50%;
}
.v174_448 {
  width: 14px;
  height: 14px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 707px;
  left: 863px;
  border-radius: 50%;
}
.v174_451 {
  width: 100%;
  height: 435px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 992px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_452 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1080px;
  left: 40px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_453 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1080px;
  left: 455px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_454 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1080px;
  left: 708px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_455 {
  width: 303px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1079px;
  left: 1427px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_456 {
  width: 211px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1079px;
  left: 1040px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_457 {
  width: 296px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1005px;
  left: 812px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v174_458 {
  width: 261px;
  height: 122px;
  background: url("../images/v174_458.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1109px;
  left: 123px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v174_462 {
  width: 261px;
  height: 175px;
  background: url("../images/v174_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1109px;
  left: 426px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v174_466 {
  width: 261px;
  height: 106px;
  background: url("../images/v174_466.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1109px;
  left: 762px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v174_470 {
  width: 261px;
  height: 226px;
  background: url("../images/v174_470.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1109px;
  left: 1152px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v174_474 {
  width: 261px;
  height: 298px;
  background: url("../images/v174_474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1109px;
  left: 1620px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v174_478 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1133px;
  left: 136px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_479 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1145px;
  left: 443px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_480 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1137px;
  left: 777px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_481 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1147px;
  left: 1162px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_482 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1155px;
  left: 1628px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_483 {
  width: 100%;
  height: 249px;
  background: rgba(241,232,246,1);
  opacity: 1;
  position: absolute;
  top: 1560px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_484 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1565px;
  left: 899px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v174_485 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1623px;
  left: 80px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}
.v174_486 {
  width: 249px;
  height: 65px;
  background: url("../images/v174_486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1677px;
  left: 89px;
  overflow: hidden;
}
.v174_487 {
  width: 229px;
  height: 76px;
  background: url("../images/v174_487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1677px;
  left: 1367px;
  overflow: hidden;
}
.v174_488 {
  width: 266px;
  height: 65px;
  background: url("../images/v174_488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1677px;
  left: 419px;
  overflow: hidden;
}
.v174_489 {
  width: 248px;
  height: 65px;
  background: url("../images/v174_489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1677px;
  left: 766px;
  overflow: hidden;
}
.v174_490 {
  width: 159px;
  height: 62px;
  background: url("../images/v174_490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1677px;
  left: 1678px;
  overflow: hidden;
}
.v174_491 {
  width: 190px;
  height: 65px;
  background: url("../images/v174_491.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1677px;
  left: 1096px;
  overflow: hidden;
}
.v174_492 {
  width: 100%;
  height: 474px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2400px;
  left: 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_493 {
  width: 645px;
  height: 259px;
  background: url("../images/v174_493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2556px;
  left: 20px;
  border: 5px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_494 {
  width: 645px;
  height: 249px;
  background: url("../images/v174_494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2566px;
  left: 1250px;
  border: 5px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_495 {
  width: 205px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2421px;
  left: 868px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v174_496 {
  width: 565px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2470px;
  left: 675px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_497 {
  width: 808px;
  height: 324px;
  background: url("../images/v174_497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2518px;
  left: 553px;
  border: 5px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_498 {
  width: 100%;
  height: 218px;
  background: rgba(136,105,150,1);
  opacity: 1;
  position: absolute;
  top: 1984px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_499 {
  width: 361px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2007px;
  left: 780px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v174_500 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2076px;
  left: 392px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v174_501 {
  width: 165px;
  height: 50px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2135px;
  left: 876px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_502 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2149px;
  left: 907px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v174_503 {
  width: 100%;
  height: 282px;
  background: rgba(136,105,150,1);
  opacity: 1;
  position: absolute;
  top: 3072px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.v174_505 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3201px;
  left: 41px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v174_506 {
 // width: 289px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3151px;
  left: 41px;
  font-family: Arial;
  font-weight: Bold Italic;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v174_507 {
  width: 309px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3087px;
  left: 806px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: right;
}
.v174_508 {
  width: 100%;
  height: 223px;
  background: rgba(136,105,150,1);
  opacity: 1;
  position: absolute;
  top: 3481px;
  left: 210px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_509 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3528px;
  left: 572px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_510 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3528px;
  left: 1097px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_511 {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3492px;
  left: 891px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v174_512 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3666px;
  left: 898px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v174_513 {
  width: 100%;
  height: 332px;
  background: rgba(136,105,150,1);
  opacity: 1;
  position: absolute;
  top: 3795px;
  left: 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_514 {
  width: 144px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3810px;
  left: 1405px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_515 {
  width: 338px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3866px;
  left: 864px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_516 {
  width: 177px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3866px;
  left: 1405px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_517 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3810px;
  left: 864px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_519 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3810px;
  left: 277px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_520 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3914px;
  left: 273px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v174_521 {
  width: 76px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3866px;
  left: 273px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_522 {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3996px;
  left: 273px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v174_523 {
  width: 175px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3962px;
  left: 273px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_524 {
  width: 881px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4044px;
  left: 551px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v174_525 {
  width: 100%;
  height: 292px;
  background: url("../images/v174_525.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4127px;
  left: 1px;
  overflow: hidden;
}
.v174_526 {
  width: 100%;
  height: 545px;
  background: url("../images/v174_526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 52px;
  overflow: hidden;
}
.v174_527 {
  width: 100%;
  height: 427px;
  background: url("../images/v174_527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
  overflow: hidden;
}
.v174_528 {
  width: 100%;
  height: 427px;
  background: url("../images/v174_528.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v174_529 {
  width: 385px;
  height: 427px;
  background: url("../images/v174_529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_530 {
  width: 478px;
  height: 383px;
  background: url("../images/v174_530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 273px;
  border: 5px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v174_531 {
  width: 385px;
  height: 427px;
  background: url("../images/v174_531.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1442px;
  border: 5px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v174_532 {
  width: 473px;
  height: 383px;
  background: url("../images/v174_532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 1096px;
  border: 5px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v174_533 {
  width: 690px;
  height: 545px;
  background: url("../images/v174_533.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 567px;
  border: 5px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v174_534 {
  width: 100%;
  height: 94px;
  background: rgba(136,105,150,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v174_535 {
  width: 100%;
  height: 18px;
  background: url("../images/v174_535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 633px;
  overflow: hidden;
}
.v174_536 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Arial;
  font-weight: Bold Italic;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v174_537 {
  width: 169px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 118px;
  font-family: Arial;
  font-weight: Bold Italic;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v174_538 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 321px;
  font-family: Arial;
  font-weight: Bold Italic;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v174_539 {
  width: 199px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 424px;
  font-family: Arial;
  font-weight: Bold Italic;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v174_540 {
  width: 132px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 657px;
  font-family: Arial;
  font-weight: Bold Italic;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v174_541 {
  width: 171px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 823px;
  font-family: Arial;
  font-weight: Bold Italic;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v174_542 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1028px;
  font-family: Arial;
  font-weight: Bold Italic;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v174_543 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1141px;
  font-family: Arial;
  font-weight: Bold Italic;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v174_544 {
  width: 240px;
  height: 107px;
  background: url("../images/v174_9547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v174_545 {
  width: 32px;
  height: 32px;
  background: url("../images/v174_545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3310px;
  left: 41px;
  overflow: hidden;
}
.v174_546 {
  width: 32px;
  height: 32px;
  background: url("../images/v174_546.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3310px;
  left: 96px;
  overflow: hidden;
}
.v174_547 {
  width: 32px;
  height: 32px;
  background: url("../images/v174_547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3310px;
  left: 151px;
  overflow: hidden;
}
.v174_548 {
  width: 32px;
  height: 32px;
  background: url("../images/v174_548.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3310px;
  left: 206px;
  overflow: hidden;
}
.v174_549 {
  width: 32px;
  height: 32px;
  background: url("../images/v174_549.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3310px;
  left: 261px;
  overflow: hidden;
}
.v174_550 {
  width: 32px;
  height: 32px;
  background: url("../images/v174_550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4074px;
  left: 21px;
  overflow: hidden;
}
.v174_551 {
  width: 32px;
  height: 32px;
  background: url("../images/v174_551.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4074px;
  left: 76px;
  overflow: hidden;
}
.v174_552 {
  width: 32px;
  height: 32px;
  background: url("../images/v174_552.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4074px;
  left: 131px;
  overflow: hidden;
}
.v174_553 {
  width: 32px;
  height: 32px;
  background: url("../images/v174_553.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4074px;
  left: 186px;
  overflow: hidden;
}
.v174_554 {
  width: 32px;
  height: 32px;
  background: url("../images/v174_554.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4074px;
  left: 241px;
  overflow: hidden;
}
.v174_555 {
  width: 24px;
  height: 24px;
  background: url("../images/v174_555.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1076px;
  left: 244px;
  overflow: hidden;
}
.v174_556 {
  width: 24px;
  height: 24px;
  background: url("../images/v174_556.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1077px;
  left: 547px;
  overflow: hidden;
}
.v174_557 {
  width: 24px;
  height: 24px;
  background: url("../images/v174_557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1076px;
  left: 879px;
  overflow: hidden;
}
.v174_558 {
  width: 24px;
  height: 24px;
  background: url("../images/v174_558.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1076px;
  left: 1268px;
  overflow: hidden;
}
.v174_559 {
  width: 24px;
  height: 24px;
  background: url("../images/v174_559.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1077px;
  left: 1744px;
  overflow: hidden;
}
.v174_560 {
  width: 30px;
  height: 30px;
  background: url("../images/v174_560.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1696px;
  left: 38px;
  overflow: hidden;
}
.v174_561 {
  width: 30px;
  height: 30px;
  background: url("../images/v174_561.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1696px;
  left: 1859px;
  overflow: hidden;
}
.v174_562 {
  width: 204px;
  height: 75px;
  background: rgba(136,105,150,1);
  opacity: 1;
  position: absolute;
  top: 3562px;
  left: 572px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v174_563 {
  width: 174px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3581px;
  left: 582px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v174_564 {
  width: 204px;
  height: 75px;
  background: rgba(136,105,150,1);
  opacity: 1;
  position: absolute;
  top: 3565px;
  left: 1097px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v174_565 {
  width: 174px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3584px;
  left: 1111px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v174_449 {
  width: 423px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 751px;
  left: 749px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v174_450 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 793px;
  left: 83px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
